

<header id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><h1><img src="images/logo2.png" alt="logo"></h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#register">Register</a></li>
                    <li ><a href="#login">Login</a></li>
                    <!--<li ><a href="i">Home</a></li>-->
                    <!--<li class="scroll"><a href="#services">Services</a></li>-->
                    <!--<li class="scroll"><a href="#our-team">Our Team</a></li>-->
                    <!--<li class="scroll"><a href="#portfolio">Portfolio</a></li>-->
                    <!--<li class="scroll"><a href="#clients">Clients</a></li>-->
                    <!--<li class="scroll"><a href="#blog">Blog</a></li>-->
                    <!--<li class="scroll"><a href="#contact">Contact</a></li>-->
                </ul>
            </div>
        </div>
    </div><!--/navbar-->
</header> <!--/#navigation-->




        <form>
            <div class="form-group">
                <label for="firstname" class="">First Name</label>
                <input ng-model="model.user.firstName" id="firstname" type="text"
                       class="form-control"
                       placeholder="name"/>

                <label for="lastname" class="">Last Name</label>
                <input ng-model="model.user.lastName" id="lastname" type="text"
                       class="form-control"
                       placeholder="lastName"/>

                <label for="email">Email</label>
                <input type="email"
                           class="form-control"
                           id="email"
                           ng-model="model.user.email"
                           placeholder="Please enter your email address"/>

        <label for="username" class="">Username</label>
        <input ng-model="model.user.username" id="username" type="text"
               class="form-control"
               placeholder="username"/>


        <label for="password" class="">Password</label>
        <input ng-model="model.user.password" id="password" type="password"
               class="form-control"
               placeholder="password"/>

        <label for="password1" class="">Re-enter Password</label>
        <input id="password1" type="password"
               class="form-control"
               placeholder="verify password"/>

        <label for="address" class="">Address</label>
        <input ng-model="model.user.address"
               id="address" type="text"
               class="form-control"
               placeholder="Address"/>

        <label for="zipcode" class="">Zipcode</label>
        <input ng-model="model.user.zipcode"
               id="zipcode" type="text"
               class="form-control"
               placeholder="Zipcode"/>

                <label>Your Interests</label>
                <div class="checkbox">
                <label><input  type="checkbox"  ng-model="model.user.sports" name="interest" />Sports</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"  ng-model="model.user.movies" name="interest" />Movies</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="model.user.rest" name="interest"/>Restuarents</label>
                </div>
            </div>
        </form>
        <a class="btn btn-primary btn-block"
           ng-click="model.registerUser(model.user)">Register</a>

        <a class="btn btn-danger  btn-block"
           href="#login">Cancel</a>
    </div>

 <nav class="navbar navbar-default navbar-fixed-bottom">
     <footer id="footer">
         <div class="container">
             <div class="text-center">
                 <p>Copyright &copy; 2017 - <a href="#">Manoj and Prashant </a> | All Rights Reserved</p>
             </div>
         </div>
     </footer>
 </nav><!--/#footer-->

